  <div class="container" style="margin-top: 60px">
	<div class="row">
 		<%= render 'show' %>
 		<%= link_to 'Назад', clubs_path %>
  		<%= link_to 'фото', club_photos_path(@club) %>

	</div>
 </div>
