<div class="container" style="margin-top: 60px">
    <div class="row">
    	
        
    	<%- @party.each do |party| %>
    	
    	<h3><%= party.name %></h3>
        <h5><%= party.date %></h5>
        <%= link_to 'Детальна інформація', party %>  
    	<% end %>
       


</div>
</div>
</body>
<html>