<body class="body1">
 <div class="container" style="margin-top: 60px">
	<div class="row">
	  <% @clubs.each do |c| %>
	  	<div class="block2">
	  	<h2><%= link_to c.name, images_path(c) %></h2>	
	    <%-c.photos.random.limit(5).each do |cc| %>
	     <%= image_tag cc.image_url(:thumbnail1), {:class => 'img_rounded'} %>
	     <% end %>
		</div>
	  <% end %>
	</div>
 </div>	  
</body>