
 <div class="container" style="margin-top: 60px">
	<div class="row">
		
			<%- @photos.each do |p| %>
			<%= image_tag p.image_url(:thumb) %>
			<% end %>
		<br><%= link_to 'назад', party_path %>
	</div>

</div>